.header {
  background-color: rgba(0, 0, 0, 0.56);
  @include media-query(mobile) {
    padding-top: 40px;
    padding-bottom: 92px;

    background-image: url(../images/abstract-background-with-red-lines\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top 0 left 0, top 0 left 0, center, center;
  }
}
.logo {
  width: 24px;
  height: 24px;
}
.navigation {
  display: flex;
  align-items: center;
}
.library {
  margin-left: 40px;
  color: $color-primary;
}
.home-page {
  margin-left: auto;
  color: $color-primary;
}
.input {
  margin-top: 60px;
  width: 280px;

  border: none;
  background-color: transparent;
  border-bottom: 0.5px solid #ffffff;
}
.button {
  background-color: transparent;
}
.form__icon {
  position: absolute;
  left: 288px;
  top: 84px;
}
