.header {
  height: 230px;
  background-color: rgba(0, 0, 0, 0.56);
  opacity: 0.9;

  @include media-query(mobile) {
    padding-top: 40px;
    padding-bottom: 92px;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;

    background-image: url(../images/abstract-background-with-red-lines\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.logo {
  width: 24px;
  height: 24px;
}
.navigation {
  display: flex;
  align-items: center;
}
.library {
  margin-left: 40px;
  color: $color-primary;
  text-transform: uppercase;
}
.home-page {
  margin-left: auto;
  color: $color-primary;
  text-transform: uppercase;
}
.input {
  margin-top: 60px;
  width: 280px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: #ffffff;

  border: none;
  outline: none;
  background-color: transparent;
  border-bottom: 0.5px solid #ffffff;
}
.button {
  background-color: transparent;
}
.form__icon {
  position: absolute;
  left: 288px;
  top: 84px;
}
.poster {
  width: 280;
  height: 402px;
  border-radius: 5px;
}
.gallary {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(1, 280px);
  grid-column-gap: 20px;
  grid-row-gap: 32px;
  justify-content: center;
  margin-bottom: 60px;
}
.title {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  text-transform: uppercase;
}
.description {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;

  color: #ff6b08;
}
