{{#each this}}
  <li>
    <h1>{{this.byline}}</h1>
    <a href='/'><img
        src='{{this.multimedia.src}}'
        alt='{{this.display_title}}'
        width='210'
        height='140'
        class='poster'
      /></a>
  </li>
{{/each}}