{{#each this}}
  <li>
    <a href='/'><img
        src='{{this.multimedia.src}}'
        alt='{{this.display_title}}'
        class='poster'
      /></a>
      <p class="title">{{this.display_title}}<p>
        <p class="description">{{this.publication_date}}</p>
  </li>
{{/each}}