<header class="header">
  <div class="container">
    <nav class="navigation">
      <img src="./images/film.png" alt="logo" class="logo" />
      <a href="/" class="home-page">Home</a>
      <a href="/" class="library">my library</a>
    </nav>
    <form class="form">
      <input
        type="text"
        name="search_event"
        placeholder="Movie search"
        class="input"
      />
      <button type="submit" class="button">
        <svg class="form__icon" width="12" height="12">
          <use href="./images/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
